<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"></link>
    <title>DidacTIC</title>
</head>
<body>
  <div class="container-fluid p-2 bg-success text-white text-left">
    <h1>Crear Curso</h1>
  </div>
        <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="lista.html">Lista</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Agregar Temas al Curso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ordenar Temas</a>
                  </li>
                  <button type="button" class="btn bg-success text-white btn-sm">Guardar</button>
                  <button type="button" class="btn bg-danger text-white btn-sm">Cancelar</button>
              </ul>
            </div>
                <!-- incluir llamado de pagina-->
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Nombre del curso</th>
                      <th scope="col">Autor</th>
                      <th scope="col">Administrar</th>
                      <th scope="col">Enviar al administrador</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Curso de diseño abierto
                      <br>
                      <img style="width: 150px;" src="/curso/pics/image-solid.svg" alt="..." class="img-thumbnail"></th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th>Diseño multimedia
                      <br>
                      <img style="width: 150px;" src="/curso/pics/image-solid.svg" alt="..." class="img-thumbnail"></th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th>Diseño y factores
                      <br>  
                      <img style="width: 150px;" src="/curso/pics/image-solid.svg" alt="..." class="img-thumbnail"></th>
                      <td></td>
                      <td></td>
                      <td><mat-icon><mat-icon svgIcon="src:"></mat-icon></mat-icon></td>
                    </tr>
                  </tbody>
                </table>
</body>
</html>